body{
    background-color: #E6E6E6;
}

p{
    text-indent: 40px;
}

/*Add .axis path and .axis line commands as described in the book */
/*Axis we are making the axis path and the line ticks the same color gray both 
with crisp edges*/
.axis path,
.axis line{
    stroke: "gray";
    shape-rendering:crispEdges;
}

.axis text{
    font: Times;
    font-size: 12px;
    font-weight: bold;
}