body {
  font: 13px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip{
  stroke: #000;
  background-color: white;
  border: transparent;
  border-radius: 5px;
  padding: 3px;
}
